<div class="popup_container" (click)="modalClick($event)">
	<div class="contain_form">
		<div (click)="closePop()">
			<i class="material-icons close_popup">close</i>	
		</div>
		<div id="headline">
			<span style="font-size: 1.5rem">Add a product</span>
		</div>
		<form #form="ngForm" (ngSubmit)="onSubmit(form)">
			<div class="img_container">
				<img src="assets/images/supermarket-default.jpg" alt="" height="144px" (error)="defaultImage($event)" class="image">
			</div>
      		<mat-form-field>
		    	<input matInput placeholder="Name" type="text" name="name" ngModel required>
      		</mat-form-field>
      		<mat-form-field>
		    	<input matInput placeholder="Image URL:" type="text" name="imageUrl" (input)="updateImage($event)">
      		</mat-form-field>
      		<mat-form-field>
		    	<input matInput placeholder="Price (ILS):" type="number" name="price" ngModel required>
	      		<span *ngIf="validPrice" class="priceErrorMsg">Price must be a positive number</span>
      		</mat-form-field>
			<mat-form-field >
  				<mat-select placeholder="Choose Category" required name="categoryId" ngModel>
    				<mat-option *ngFor="let category of categoriesInfo" [value]="category._id" >
      					{{category.name}}
      				</mat-option>
 	  			</mat-select>
			</mat-form-field>
		    <div>
		    	<button type="submit">Edit</button>
		  	</div>
		</form>
	</div>
</div>