mat-card-actions {
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}
.contain_form {
	display: flex;
    justify-content: center;
    align-items: center;
}

form {
	width: 90%;
}

mat-form-field {
	display: block;
}

#wrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 4.5rem;
}

mat-card {
	width: 20rem;
}

span {
	color: red;
}

mat-card {
	width: calc(100%/3);
}